body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgb(202, 71, 31),
    #ee8916,
    rgb(233, 208, 67)
  );
}

h1 {
  color: rgb(252, 250, 253);
  text-shadow: 0.2;
}
